# General

.DS_Store
.env


# Backend Rust

/backend/target

# Frontend Web

frontend/web/node_modules
frontend/web/build

# Frontend Android

*.iml
.gradle
frontend/android/local.properties
frontend/android/.idea/caches
frontend/android/.idea/libraries
frontend/android/.idea/modules.xml
frontend/android/.idea/workspace.xml
frontend/android/.idea/navEditor.xml
frontend/android/.idea/assetWizardSettings.xml
frontend/android/build
frontend/android/app/build
frontend/android/captures
.externalNativeBuild
.cxx
local.properties
