@import "../../base.scss";

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $color-dark-2;
  text-align: center;
  margin: auto;
  width: fit-content;

  padding: 30px;
  border-radius: 20px;

  label {
    padding: 5px;
    font-size: 1.4em;
  }

  input {
    border-radius: 0;
    border: none;

    font-size: 1.2em;
  }

  h1 {
    font-size: 3.6em;
    margin: 0;
    margin-bottom: 10px;
  }

  span {
    color: #f3e0ff;
    text-decoration: underline;
    cursor: pointer;
  }
}
