@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$default-font: "Rajdhani", sans-serif;
$cursive-font: "Indie Flower", cursive;

$color-light-1: #00af7c;
$color-light-2: #4be286;
$color-dark-1: #275c47;
$color-dark-2: #226c3e;
